<%- include('shared/header.ejs') %>

<div class="text-center mt-5">
  <h2>Please, visit your email to veify your account via link!</h2>
  <h6>Link is valid for 5 minutes only.</h6>
</div>

<%- include('shared/footer.ejs') %>