<%- include('shared/header.ejs') %>

<div class="container text-center my-5">
  <div class="user my-3">
    <h1 class="logo">Sarahah</h1>
    <p class="mb-6 text-center text-muted">
        Forgot password?
    </p>
  </div>
  <div class="card p-5 w-50 m-auto">
    <form action="/handleforgetpassword" method="post">
      <div class="field-wrap mb-0 text-left">
          <input placeholder="Enter your email" class="form-control" name="email" type="email" required/>
      </div>
  
      <button class="btn btn-default-outline my-4">Reset Password</button>
    </form>  
  </div>
</div>


<%- include('shared/footer.ejs') %>