<%- include('shared/header.ejs') %>

<div class="container text-center my-5">
  <div class="user my-3">
    <h1 class="logo">Sarahah</h1>
    <p class="mb-6 text-center text-muted">
        Set new password
    </p>
  </div>
  <div class="card p-5 w-50 m-auto">
    <div id="resetPassword">
      <form action="/handleResetPassword" method="post">
        <div class="field-wrap mt-2 mb-0 text-left">
            <input class="form-control" placeholder="New Password" name="newPassword" type="password" required value="<%= newPassword %>"/>
        </div>

        <div class="field-wrap mb-0 mt-4 text-left">
          <input class="form-control" placeholder="Confirm Password" name="rePassword" type="password" required/>
          <% if (error.find(e => e.param == 'rePassword')) { %>
            <small class="alert alert-danger">Passwords aren't matched!</small>
          <% } %>
        </div>

        <button class="btn btn-default-outline my-4">Reset Password</button>
      </form>
    </div>
</div>
</div>

<%- include('shared/footer.ejs') %>